<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<title></title>
	<link rel="stylesheet" href="autogestion_/app/Assets/css/style.css" type="text/css">
</head>
<body>
	<div class="container">
		<div class="row">
			{% block content %}
				<div class="col md-12">
					Funciona?
				</div>
			{% endblock %}
			
		</div>
	</div>
</body>
</html>